@import "tailwindcss";

@theme {
  /* Cores Oficiais do Projeto REAGE */
  --color-reage-blue: #43A0C8;
  --color-reage-yellow: #FCE58C;
  --color-reage-dark: #1E293B;
  --color-reage-bg: #F8FAFC;

  /* Estilos Adicionais */
  --font-sans: "Inter", ui-sans-serif, system-ui, sans-serif;
}